<div class="container">
    <h3>TERMS OF USE </h3>
    <p>
	This data is provided by the Atmospheric Science Research Center for research use.
	This work is funded by and property of the SUNY Research Foundation and the New
	York State Energy Research and Development Authority (NYSERDA). 
    </p>

    <p>
	As a condition of use, you, the user, agree not to use these data for any purpose
	that is unlawful or prohibited by these terms, or for any other purpose not  
	reasonably intended. The conditions include, but not necessarily limited to the following:
    </p>
    <p>
	<ol>
	    <li>You are authorized to use on a non-exclusive basis the Archive Products for
		its own purposes, including research, education and activities for commercial gain.</li>
	    <!--li>These data are not to be distributed, assigned or sold without prior written
		 consent of the ASRC.</li-->
	    <li>All Intellectual Property Rights of the Air Quality Monitoring Products owned by
		ASRC or its users shall remain the property of the ASRC or its users, and you
		acknowledge the full title and ownership by ASRC or its users in all the
		Air Quality Monitoring Products supplied.</li>
	    <li>You agree to acknowledge the origin of the Air Quality Monitoring Products in
		any scientific publication, website, presentation or other public media arising
		out of the use of the products. You will provide the ASRC a copy of such
		publication, upon request.</li>
	    <li>Neither the you or the ASRC shall be liable to the other under any cause of
		action for any loss of profit or loss of revenue (whether direct or indirect);
		any indirect loss; loss of goodwill, reputation or opportunity; or any loss
		of or corruption of data however so arising out of or in connection with
		this agreement whether or not that party had been informed of or was aware
		that there was a serious possibility of such loss.</li> 
	    <li>The ASRC may terminate your authorized use if you fail to remedy any breach
		of your obligations under this agreement within 30 days of notice from the
		ASRC that requests you to remedy such breach.</li>
	    <li>You acknowledge that Direct Access to the Air quality Monitoring Products may
		be unavailable, delayed or interrupted. The ASRC takes no responsibility for,
		and will not be liable for, any unavailability, delay or interruption in
		Direct Access to the Air Quality Monitoring Products at any time or for any period.</li>
	    <!--li>Your password and username is to be used by you and you only, and not by third parties.</li-->
	    <li>The ASRC reserves the right, at its sole discretion, to change, modify, add,
		remove or otherwise alter the Air Quality Monitoring Products at any time without notice.</li>
	    <li>The ASRC reserves the right, at its sole discretion, to change, modify, add, remove or
		otherwise alter this agreement at any time without notice.</li>
	</ol>
    </p>

    <h3>DISCLAIMER</h3>
    <p>
	As a user, you fully ackowledge that, while every effort is made to have as accurate
	a data set as possible, it may be updated at any time in future versions. All products
	are provided on an "as is" basis, and any reliance you place on such information is
	therefore strictly at your own risk. Users are encouraged to check back regularly
	and make sure they are using the latest version of a data set.
    </p>

    <p>
	In no event will we be liable for any loss or damage including without limitation,
	indirect or consequential loss or damage, or any loss or damage whatsoever arising
	from loss of data or profits arising out of, or in connection with, the use of these data.
    </p>

    <p>
	Every effort is made to keep the website up and running smoothly. However, the ASRC takes
	no responsibility for, and will not be liable for, the website being temporarily
	unavailable due to technical issues beyond our control.
    </p>
</div>
